<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
      {{ title }}
    </h1>    
  </div>
  <h2>Join Us</h2>
  <ul>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://www.facebook.com/CodingAnthem/">Facebook</a></h2>
    </li>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://twitter.com/CodingAnthem">Twitter</a></h2>
    </li>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://www.instagram.com/CodingAnthem/">Instagram</a></h2>
    </li>
  </ul>
  
  